#wordSearch
{
    margin: 10px;
}

#setup
{
    margin-bottom: 15px;
}

#padding-textbox
{
    display: inline-block;
    margin: 0;
}

td, tr
{
    text-align: center;
    font-size: 18px;
    width: 15px;
    box-sizing: border-box;
    margin: 5px;
}

.word
{
    display: inline;
}

.word-div
{
    margin: 10px;
}